extends layout
block content
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.boton5(href='/home/main') Home
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/home/addC') Agregar Cliente
                    li.nav-item
                        a.nav-link(href='/note/notes') Agregar Servicio
                    li.nav-item(style='background-color: powderblue;')
                        a.nav-link(href='#') Service Status
