doctype html
html
    head
        title Panel Principal
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/stylesheets/styleMain.css")
    body
        img(id="bg" src="/../images/ventanita.jpg" alt="font")
        a(class='float' href='/logout') cerrar session
        div(class="box")
            div(class="linea")
            div(class="linea")
            div(class="linea")
            div(class="linea")
            div(class="linea")
            div(class="linea")
            div(class="linea")
            div(class="linea")

